.App {
  display: flex;
  justify-content: center;
  margin: 2rem;
  gap: 40px;
  height: calc(100vh - 4rem);
}

.content-box {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 30rem;
  padding: 1rem;
  border-radius: 10px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.content-box > div > p {
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.personal-box > div,
.education-box > div,
.experience-box > div,
.project-box > div,
.skills-box > div {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.experience-box > div,
.project-box > div {
  margin: 0 0 1rem 0;
}
.content-box > div > button {
  margin: 0.5rem 0;
}

@media screen and (max-width: 1200px) {
  .App {
    flex-direction: column;
    gap: 20px;
    height: auto;
  }

  .content-box {
    width: calc(100% - 2rem);
  }

  .personal-box > div,
  .education-box > div,
  .experience-box > div,
  .project-box > div,
  .skills-box > div {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .App {
    font-size: 0.8rem;
  }
}

@media print {
  .content-box {
    display: none;
  }

  .App {
    margin: 0;
  }
}
